@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body { 
	background: #f5f5f5; 
	font-family: 'Montserrat', sans-serif; 
	letter-spacing: 1px;
}
 
header {
    text-align: justify;
    height: 8em;
    padding: 2em 5%;
    background: #2c3e50;
    color: #fff;
    position: fixed;
    width: 100%;
    text-transform: uppercase; 
    z-index: 1;
}
 
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
 
header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
 
header > div {
    height: 100%;
}
 
header > div::before {
    content: '';
    height: 100%;
}
 
header > div h1 {
    font-size: 3em;
    font-style: italic;
    margin: 0;
}
 
header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
    color: white;
    text-decoration: none;
}
 
header nav a:last-child {
    padding-right: 0;
}

header nav a:hover{
	color: #d5d5d5;
	text-decoration: none;
}
 
@media screen and (max-width: 720px){
     
    header {
        height: auto;
    }
     
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
     
}





.hero{
	height: 100vh;
	background-image: url('https://s3.amazonaws.com/ooomf-com-files/HHEvkhEsQLaNDRkui4fg_fullsize.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size: cover; 
}


p{
	font-size: 1.2em;
}